@layer components {
    .layout {
        --header: minmax(3rem, auto);
        --main: 1fr;
        --footer: minmax(theme(spacing.14), auto);

        @apply grid gap-y-0;
        grid-template:
            "h" var(--header)
            "m" var(--main)
            "f" var(--footer) / minmax(0, 1fr);

        @media (min-width: theme("screens.4xl")) {
            @apply gap-x-2;
            grid-template:
                "n h" var(--header)
                "n m" var(--main)
                "n f" var(--footer) / 280px 1fr;
        }

        & > .item-header {
            grid-area: h;
        }

        & > .item-nav {
            grid-area: n;
        }

        & > .item-main {
            grid-area: m;
        }

        & > .item-footer {
            grid-area: f;
        }
    }
}
