@layer components {
    .person-details {
    }

    .personal-details {
        @apply @container/main;

        & > .pd-box {
            --kupos: minmax(0, min-content);
            @apply grid gap-2.5;

            grid-template:
                "img" var(--kupos)
                "name" var(--kupos)
                "info" var(--kupos)
                "bio" var(--kupos) / minmax(0, 1fr);

            @container main (min-width: theme(screens.4xl)) {
                grid-template:
                    "img name" var(--kupos)
                    "img bio" var(--kupos)
                    "info bio" var(--kupos)
                    "info bio" minmax(0, 1fr) / theme(maxWidth.72) minmax(0, 1fr);
            }

            /* @container (min-width: theme(screens.4xl)) {
            grid-template:
                "img name" var(--kupos)
                "img bio" var(--kupos)
                "info bio" var(--kupos)
                "info bio" minmax(0, 1fr) / theme(maxWidth.80) minmax(0, 1fr);
        } */
        }
    }

    /* @media screen(sm) {
        
    } */
}
