@layer components {
    .card {
        @apply relative h-full;
    }

    .card__media {
        @apply object-contain aspect-portrait transition-[scale] duration-500;
    }

    .card__action {
        @apply block relative rounded-xl overflow-hidden;

        &::before {
            content: "";
            @apply absolute inset-0 z-20 rounded-[inherit];
            box-shadow: inset 2px 2px 1px 1px theme(colors.foreground.DEFAULT / 0.12),
                inset -2px -2px 1px 1px theme(colors.background.DEFAULT / 0.22);
            background-image: radial-gradient(
                theme(colors.foreground.DEFAULT / 0.08),
                theme(colors.foreground.DEFAULT / 0.15)
            );
        }

        &::after {
            @apply absolute -translate-x-full inset-0 transition-transform duration-500;
            content: "";
            background-image: linear-gradient(
                to right,
                transparent 33%,
                theme(colors.foreground.DEFAULT / 0.6) 66%,
                transparent
            );
        }
        &:hover::after {
            @apply translate-x-full;
        }

        &:hover .card__media {
            scale: 1.05;
        }
    }

    .card__body {
        @apply flex flex-col gap-y-0.5;
    }

    .card--portrait {
        @apply max-w-40 w-full;

        & > .card__body {
            @apply p-1;
        }
    }

    .card--landscape {
        @apply grid gap-x-1.5;
        grid-template-columns: theme(width.11) 1fr;

        &[data-card-size="bigger"] {
            grid-template-columns: theme(width.16) 1fr;
        }
    }
}
