@layer base {
    *,
    ::before,
    ::after {
        @apply focus-visible:outline focus-visible:outline-accent-light border-transparent;
    }

    html,
    body {
        min-width: 360px;
        min-height: 100vh;
        min-height: 100dvh;
        max-width: 1440px;
        margin-inline: auto;
    }

    body {
        @apply text-foreground bg-background;
    }
}
